<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15"></div>
                <div class="sidebar-brand-text mx-3"><span>E - Waste Lanka</span></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="nav navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item" role="presentation"><a class="nav-link"
                        [ngClass]="{'active': activeTab == 'Requests'}" (click)="activeTab = 'Requests'"><i
                            class="fas fa-retweet"></i><span>Requests</span></a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link"
                        [ngClass]="{'active': activeTab == 'History'}" (click)="activeTab = 'History'"><i
                            class="fas fa-history"></i><span>History</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link"
                        [ngClass]="{'active': activeTab == 'Distributors'}" (click)="activeTab = 'Distributors'"><i
                            class="far fa-user-circle"></i><span>Distributors</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link"
                    [ngClass]="{'active': activeTab == 'Sales Trends'}" (click)="activeTab = 'Sales Trends'"><i
                            class="fas fas fa-clipboard-list"></i><span>Trends</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" [ngClass]="{'active': activeTab == 'Rewards'}" (click)="activeTab = 'Rewards'"><i
                            class="fas fa-gift"></i><span>Rewards</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link"
                        [ngClass]="{'active': activeTab == 'Reports'}" (click)="activeTab = 'Reports'"><i
                            class="fas fa-file-medical-alt"></i><span>Reports</span></a>
                </li>
            </ul>
            <div class="text-center d-none d-md-inline"></div>
        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3"
                        id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    <h3 class="text-dark mb-0">{{activeTab}}</h3>
                    <form
                        class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <div class="input-group-append"></div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav flex-nowrap ml-auto">
                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow" role="presentation">
                            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                    data-toggle="dropdown" aria-expanded="false" [routerLink]=""><span
                                        class="d-none d-lg-inline mr-2 text-gray-600 small">{{user.LoginName}}</span><img
                                        class="border rounded-circle img-profile"
                                        src="assets/img/avatars/avatar1.jpeg"></a>
                                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a
                                        class="dropdown-item" role="presentation"><i
                                            class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a
                                        class="dropdown-item" role="presentation"><i
                                            class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation"
                                        [routerLink]="''"><i
                                            class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <app-requests *ngIf="activeTab == 'Requests'"></app-requests>
                <app-reports *ngIf="activeTab == 'Reports'"></app-reports>
                <app-request-history *ngIf="activeTab == 'History'">
                </app-request-history>
                <app-awards *ngIf="activeTab == 'Rewards'"></app-awards>
                <app-distributors *ngIf="activeTab == 'Distributors'"></app-distributors>
                <app-forecast *ngIf="activeTab == 'Sales Trends'"></app-forecast>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © E - Waste Lanka 2020</span></div>
            </div>
        </footer>